<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <div class="menu">
        <div class="container">
          <div class="menu__row">
            <div class="menu__logo">ClownJuice</div>
            <div class="menu__links" id="links">
              <a href="http://localhost:3500/auth" id="signIn">Sign In</a>
              <a href="http://localhost:3500/register" id="register">Registration</a>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="container">
          <div class="info__row">
            <div class="info__body">
              <div class="info__title" id="title">Username</div>
              <div class="info__data">
                <ul class="info__ul" id="info__ul"></ul>
              </div>
              <div class="info__create-new-note">
                <input type="text" id="input">
                <button id="createNote">Create</button>
              </div>
            </div>
            <div class="info__image">
              <img src="img/1.png" alt="Error">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>
</html>